*.o
serveur/clients
serveur/clients_lis
serveur/serveur
serveur/start
serveur/traitement_client
serveur/gg
serveur/poste_toucher
serveur/tmp.txt
serveur/lobby.html
serveur/test0
serveur/test.c
serveur/.*
